<ul class="comments">
    {% for comment in comments %}
        <li class="comment">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=80) }}">
                </div>
                <div class="col-md-10 comment-body">
                    <div class="row">
                        <div class="col-md-6 comment-email ">{{ comment.author.email }}</div>
                        <div class="col-md-6 comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
                    </div>
                    <div class="row">
                        <div class="comment-content">
                            {% if comment.body_html %}
                                {{ comment.body_html | safe }}
                            {% else %}
                                {{ comment.body }}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </li>
    {% endfor %}
</ul>